@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(38, 196, 85);
    text-align: justify;                
}

header {
    background-color: green;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
    background-color: rgba(2, 184, 2, 0.5);
}

.links {
    text-align: justify;
    color: white;
}

main {
    background-color: white;
    margin: 10px;
}



h1 {
    font-size: 2em;
    color: green;
    margin: 5px;
}

h1#top {
    color: white;
    margin: 5px;
}

h2 {
    color: green;
    margin: 5px;
    background-color: rgba(0, 128, 0, 0.452)
}

h2#extratexto {
    color: white;
    padding: 0px;
    margin: 0px;
}

p {
    margin: 10px;

}

section {

}

div {
    background-color: rgb(4, 231, 4);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px black;
}


footer {
    text-align: center;
    color: white;
}